<!-- views/partials/admin-sidebar.ejs -->

<%- include("./logout.ejs")%>

<!--Links to search pages-->


<% if(locals.admin) { %>
<!-- <p>
  <a href="/course" class="btn btn-primary btn-block course-button">Course</a>
</p> -->
<p>
  <a href="/report" class="btn btn-primary btn-block report-button">Reports</a>
</p>
<p>
  <a href="/faculty" class="btn btn-primary btn-block faculty-button">Faculty</a>
</p>
<!-- <p>
  <a href="/job" class="btn btn-primary btn-block job-button">Job</a>
</p> -->
<p>
  <a href="/semester" class="btn btn-primary btn-block semester-button">Semester</a>
</p>
<% } %>

<p>
  <a href="/student" class="btn btn-primary btn-block student-button">Student</a>
</p>
