<!-- views/faculty/index.ejs -->
<!DOCTYPE html>

<html>
  <head>
    <title>Search Faculty</title>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">

        <div class='col-lg-2 sidebar text-center'>

          <%- include('../partials/admin-sidebar.ejs') %>

          <%- include('./search-faculty.ejs') %>

        </div>

        <div class='col-lg-10 panelbg text-center'>
          <h1>Faculty</h1>
          <h3 class="searchTextColor"><%=search%></h3>
           <% if(faculty.length>0) { %>
            <table align="center" border="1" class="table display-table table-striped table-bordered faculty-table">
              <thead>
                <tr>
                  <th scope="col" class="col-facultyOnyen">Edit</th>
                  <th scope="col" class="col-facultyOnyen">Onyen</th>
                  <th scope="col" class="col-facultyCSID">CSID</th>
                  <th scope="col" class="col-facultyFirstname">First name</th>
                  <th scope="col" class="col-facultyLastname">Last Name</th>
                  <th scope="col" class="col-facultyPid">PID</th>
                  <th scope="col" class="col-facultySectionNumber">Section Number</th>
                  <th scope="col" class="col-facultyActive">Active</th>
                </tr>
              </thead>
              <tbody>

                <% for(var i=0; i<faculty.length; i++) { %>
                  <tr>
                    <td>
                      <div>
                        <a href="/faculty/edit/<%=faculty[i]._id%>" class="fas fa-edit editColor edit-faculty-button">Edit</a>
                      </div>
                    </td>
                    <td>
                      <%= faculty[i].onyen%>
                    </td>
                    <td><%= faculty[i].csid%></td>
                    <td><%= faculty[i].firstName%></td>
                    <td><%= faculty[i].lastName%></td>
                    <td><%= faculty[i].pid%></td>
                    <td><%= faculty[i].sectionNumber%></td>
                    <td><%= faculty[i].active%></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          <% } else { %>
            <div>No Faculty found.</div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
