<!-- views/faculty/upload.ejs -->
<!DOCTYPE html>

<html>
  <head>
    <title>Upload Faculty</title>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">

        <div class='col-lg-2 sidebar text-center'>

          <%- include('../partials/admin-sidebar.ejs') %>

          <%- include('./search-faculty.ejs') %>

        </div>

        <div class='col-lg-10 panelbg text-center'>
          <% if(uploadSuccess == true) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Upload success!</strong>
          </div>
          <% } %>

          <h1>Upload faculty</h1>
          <form action="/faculty/upload" enctype="multipart/form-data" method="post">
            <div class="form-group row">
              <label for="inputSheet" class="col-md-3 offset-md-3">Spreadsheet</label>
              <div class="col-md-4">
                <input type="file" name="upload" class="form-control-file upload-faculty-input" id="inputSheet" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required/>
              </div>
            </div>
            <div class="col-md-4 offset-md-4">
              <button type="submit" value="Upload" class="btn btn-primary upload-faculty-submit-button">Submit</button>
            </div>
            <h3>Upload format</h3>
            <img src="/images/facultyUploadFormat.png">

            <div class="col-md-4 offset-md-4">
              <h3>Requirements</h2>
              <ul class="list-group">
                <li class="list-group-item">Columns must be in displayed order, headers need to be exactly as displayed.</li>
                <li class="list-group-item">Get a sample of the spreadsheet here: https://gitlab.com/unc-cs-toolsmiths/CS-Grad-Tracking/tree/master/data/InOrderUploadTests  and use 1facultyUpload.xlsx</li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
