.sidebar {
  background-color: lightblue;
}

html, body {
  height: 100%;
  background-color: lightgrey;
}

.white-bg {
  background-color: white;
}

.column-padding td {
  padding:0 30px 0 30px;
}

table {
  /* table-layout: fixed; */
  border-collapse: collapse;
  width: 100%;
  /* margin-left: 20px; */
}



/* faculty table column widths*/
.col-facultyOnyen {
  width: 15%;
}

.col-facultyCSID {
  width: 10%;
}

.col-facultyFirstname {
  width: 15%;
}

.col-facultyLastname {
  width: 15%;
}

.col-facultyPid {
  width: 15%;
}

.col-facultySectionNumber{
  width: 10%;
}

.col-facultyActive {
  width: 10%;
}

.col-delete {
  width: 10%;
}

.col-jobPosition{
  width:10%;
}



/*course table column widths */

.col-course-topic {
  width:10%;
}

.col-course-number {
  width:7.5%;
}

.col-course-univNumber{
  width:10%;
}

.col-course-name {
  width:20%;
}

.col-course-category {
  width:10%;
}

.col-course-hours {
  width:5%;
}

.col-course-section{
  width:7.5%;
}

.col-course-faculty {
  width:10%;
}

.col-course-semester {
  width:10%;
}

.col-course-delete {
  width:10%;
}

.editTag:hover {
  text-decoration: none;
  color: green;

}

.editTag {
  color: green;
}

.space {
  margin:10px;
}

.verticalSpace {
  margin-top:10px;
  margin-bottom:10px;
}

.fabutton {
  background: none;
  padding:0px;
  border:none;
}

.colJobModify {
  width:10%;
}

.whiteBg {
  background: white;
}

.editRow{
  display:flex;
  flex-direction: row;
  justify-content:center;
}

.editColumn{
  margin:5px;
  display: flex;
  flex-direction: column;
}

.editColor {
  color: black;
}

label.autoHyphen {
  hyphens: auto;
}

/*
This is for highlighting search text on index pages
*/
.searchTextColor {
  color:#73a073;
}

.underline {
  text-decoration: underline;
}

.slider{
  background-image:url("../../images/slider.png");
}

form [name=dept] {
  font-size:10px;
  height:38px;
}

.progress-report-table, .tuition-report-table {
  display: block;
  table-layout: fixed;
  width: 100%;
  overflow: scroll;
}

.col-progress-report-notes {
  min-width: 300px;
}

.header1{
  position: sticky;
  top: 0;
}

.download-progress-csv-button {
  margin-right: 10px;
}

.pseudo-input {
  background-color: #eee;
  border: 1px solid #ced4da;
  border-radius: 2px;
  font-family: Courier New, monospace;
  padding: 6px 1rem;
}

#errorMessage {
  color: red;
}

.left-15 {
  left: 15px;
}

.pseudo-checkbox {
  background-color: #eeeeee;
  width: 38px;
  height: 38px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin: 0 auto;
  width: 50%;
  display: block;
}

.pseudo-checked {
  background-color: #86b7fe;
  color: lightgray;
  font-size: 25px;
  text-align: center;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type=number] {
  -moz-appearance: textfield;
}

.sort-header-link {
  color: black;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.button-bar {
  padding-top: 10px;
}

.button-bar * {
  margin-right: 5px;
}

.comp523cont, 
.comp523Othercont,
.indcont,
.altcont {
  display: none;
  overflow: hidden;
  padding: 5px;
}

.active {
  background-color: #6495ED;
  color : white;
}

.comp523col,
.comp523Othercol,
.indcol,
.altcol {
  border: none;
  border-radius: 2px;
  font-size: 20px;
}

.form-radio {
  margin-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.form-radio input {
  transform: scale(2);
}
.form-radio label {
  padding-left: 3px;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: #192733;
  padding: 5px;
  z-index: 10;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
  z-index: 10;
}

#top {
  top: -40px;
  left: -50%;
}

#top::before {
  top: 80%;
  left: 45%;
}

#bottom {
  top: 25px;
  left: -50%;
}

#bottom::before {
  top: -5%;
  left: 45%;
}

#left {
  top: -8px;
  right: 120%;
}

#left::before {
  top: 35%;
  left: 94%;
}

#right {
  top: -8px;
  left: 120%;
}

#right::before {
  top: 35%;
  left: -2%;
}

.hover-text {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 10;
}

.subSize{
  font-size:xx-large;
  font-weight: 600;
}


.div1 {
  height: 80vh;
  overflow: auto;
  border: none;
}

.div1 table {
  border-spacing: 0;
}

.div1 th {
  border-left: none;
  border-right: 1px solid #bbbbbb;
  padding: 5px;
  width: 80px;
  min-width: 80px;
  position: sticky;
  top: 0;
  background: #727272;
  color: #e0e0e0;
  font-weight: normal;
}

.div1 td {
  border-left: none;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  padding: 2px;
  width: 80px;
  min-width: 80px;
}

.div1 th:nth-child(1),
.div1 td:nth-child(1) {
  position: sticky;
  left: 0;
  width: 10px;
  min-width: 10px;
}

.div1 th:nth-child(2),
.div1 td:nth-child(2) {
  position: sticky;
  /* 1st cell left/right padding + 1st cell width + 1st cell left/right border width */
  /* 0 + 5 + 150 + 5 + 1 */
  left: 82px;
  width: 100px;
  min-width: 100px;
}

.div1 th:nth-child(3),
.div1 td:nth-child(3) {
  position: sticky;
  /* 1st cell left/right padding + 1st cell width + 1st cell left/right border width */
  /* 0 + 5 + 150 + 5 + 1 */
  left: 180px;
  width: 100px;
  min-width: 100px;
}

.div1 th:nth-child(4),
.div1 td:nth-child(4) {
  position: sticky;
  /* 1st cell left/right padding + 1st cell width + 1st cell left/right border width */
  /* 0 + 5 + 150 + 5 + 1 */
  left: 278px;
  width: 120px;
  min-width: 100px;
}

.div1 td:nth-child(1),
.div1 td:nth-child(2),
.div1 td:nth-child(3),
.div1 td:nth-child(4) {
  background: #ffebb5;
  z-index: 1;
}

.div1 th:nth-child(1),
.div1 th:nth-child(2),
.div1 th:nth-child(3),
.div1 th:nth-child(4) {
  z-index: 99999999999999999 !important;
}


.col-progress-report-notes .tooltip-text {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  /* z-index: 9999; */
  top: 50%;
  right: 100%;
  margin-top: -12px;
  margin-right: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

.col-progress-report-notes:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}



/* experement */

 th[title] {
  position: relative;
  cursor: help;
}

th[title]:hover:after {
  content: attr(title);
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 5px);
  padding: 5px;
  background-color: gray;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
}

.div1 th {
  position: sticky;
  top: 0;
}


td {
  max-width: 250px; /* Change this to the desired fixed size */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.expanded {
  white-space: pre-wrap;
  overflow: visible;
  text-overflow: unset;
  max-width: fit-content;
}
.center-modal-parent { /* include with bootstrap's modals bc. for some reason doesn't like our forms setup */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.center-modal-child {
  position: fixed;
  width: 100%;
}