<!DOCTYPE html>
<!-- views/report/advisorReport.ejs -->


<html>
  <head>
    <title>Reports</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg-2 sidebar text-center">

          <%- include("../partials/admin-sidebar.ejs") %>

        </div>
        <div align ="center" class="col-lg-10 panelbg text-center">

          <h3 class="space">Advisor Report</h3>
          <span>
            <p><a href="/report/advisorReport/downloadXLSX" class="btn btn-primary download-progress-xlsx-button">Download as XLSX</a></p>
            <p><a href="/report/advisorReport/downloadCSV" class="btn btn-primary download-progress-csv-button">Download as CSV</a></p>
          </span>

          <% if(report != undefined && report.length>0) { %>
            <table id="advisor-report-table" align="center" border="1" class="table display-table table-striped table-bordered advisor-report-table">
              <thead>
                <tr>
                  <th scope="col" class="col-advisor-report-last">
                    <a class="sort-header-link" href="<%= sortOrder == 'dsc' ? '/report/advisorReport?sortField=lastName&sortOrder=asc' : '/report/advisorReport?sortField=lastName&sortOrder=dsc' %>">Last name</a>
                    <% if (sortField == "lastName") { %> 
                      <% if (sortOrder == 'dsc') { %>
                        <span>▼</span>
                      <% } else { %>
                        <span>▲</span>
                      <% } %>
                    <% } %>
                  </th>
                  <th scope="col" class="col-advisor-report-first">
                    <a class="sort-header-link" href="<%= sortOrder == 'dsc' ? '/report/advisorReport?sortField=firstName&sortOrder=asc' : '/report/advisorReport?sortField=firstName&sortOrder=dsc' %>">First Name</a>
                    <% if (sortField == "firstName") { %> 
                      <% if (sortOrder == 'dsc') { %>
                        <span>▼</span>
                      <% } else { %>
                        <span>▲</span>
                      <% } %>
                    <% } %>
                  </th>
                  <th scope="col" class="col-advisor-report-first">
                    <a class="sort-header-link" href="<%= sortOrder == 'dsc' ? '/report/advisorReport?sortField=pid&sortOrder=asc' : '/report/advisorReport?sortField=pid&sortOrder=dsc' %>">PID</a>
                    <% if (sortField == "pid") { %> 
                      <% if (sortOrder == 'dsc') { %>
                        <span>▼</span>
                      <% } else { %>
                        <span>▲</span>
                      <% } %>
                    <% } %>
                  </th>
                  <th scope="col" class="col-advisor-report-first">
                    <a class="sort-header-link" href="<%= sortOrder == 'dsc' ? '/report/advisorReport?sortField=semesterStarted&sortOrder=asc' : '/report/advisorReport?sortField=semesterStarted&sortOrder=dsc' %>">Semester</a>
                    <% if (sortField == "semesterStarted") { %> 
                      <% if (sortOrder == 'dsc') { %>
                        <span>▼</span>
                      <% } else { %>
                        <span>▲</span>
                      <% } %>
                    <% } %>
                  </th> <!-- computed from semester started and semesters on leave -->
                  <th scope="col" class="col-advisor-report-researchAdvisor">
                    <a class="sort-header-link" href="<%= sortOrder == 'dsc' ? '/report/advisorReport?sortField=researchAdvisor&sortOrder=asc' : '/report/advisorReport?sortField=researchAdvisor&sortOrder=dsc' %>">Research Advisor</a>
                    <% if (sortField == "researchAdvisor") { %> 
                      <% if (sortOrder == 'dsc') { %>
                        <span>▼</span>
                      <% } else { %>
                        <span>▲</span>
                      <% } %>
                    <% } %>
                  </th>
                  <!-- <th scope="col" class="col-advisor-report-otherResearchAdvisor">Other Research Advisor (non-faculty)</th> -->
                  <th scope="col" class="col-advisor-report-advisor">
                    <a class="sort-header-link" href="<%= sortOrder == 'dsc' ? '/report/advisorReport?sortField=advisor&sortOrder=asc' : '/report/advisorReport?sortField=advisor&sortOrder=dsc' %>">Advisor</a>
                    <% if (sortField == "advisor") { %> 
                      <% if (sortOrder == 'dsc') { %>
                        <span>▼</span>
                      <% } else { %>
                        <span>▲</span>
                      <% } %>
                    <% } %>
                  </th>
                  <!-- <th scope="col" class="col-advisor-report-otherAdvisor">Other Advisor (non-faculty)</th> -->
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<report.length; i++) { %>
                  <tr>
                    <td><%= report[i].lastName%></td>
                    <td><%= report[i].firstName%></td>
                    <td><%= report[i].pid%></td>
                    <td><%= report[i].semesterStarted ? report[i].semesterStarted.season + ' ' + report[i].semesterStarted.year : ''  %></td>
                    <td>
                      <% if(report[i].researchAdvisor != null){ %>
                        <%= report[i].researchAdvisor.lastName%>, <%= report[i].researchAdvisor.firstName%>
                      <% } %>
                    </td>
                    <td>
                      <% if(report[i].advisor != null){ %>
                      <%= report[i].advisor.lastName%>, <%= report[i].advisor.firstName%>
                      <% } %>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          <% } else { %>
            <div>No students found.</div>
          <% } %>

        </div>
      </div>
    </div>
  </body>
</html>
