<!DOCTYPE html>
<!-- views/studentView/forms.ejs -->

<html>
  <head>
    <title>Student forms</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg-2 sidebar text-center">
          <%- include("../partials/logout.ejs") %>
        </div>
        <div align ="center" class="col-lg-10 panelbg text-center">

          <%- include("../partials/studentBarPartial.ejs") %>

          <h4><%=student.lastName%>, <%=student.firstName%></h4>

          <h3 class="space">View a form</h3>
          <div class="col-md-4 offset-md-4">
            <%= ("CS01" in results && results.CS01)  ? "✅" : "" %><a href="/studentView/forms/CS01/false" class="CS01"> CS01-Background Preparation Worksheet</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <a href="/studentView/multiforms/CS02" class="CS02">CS02-Course Waiver</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <%= ("CS03" in results && results.CS03)  ? "✅" : "" %><a href="/studentView/forms/CS03/false" class="CS03">CS03-M.S. Program of Study</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <%= ("CS04" in results && results.CS04)  ? "✅" : "" %><a href="/studentView/forms/CS04/false" class="CS04">CS04-Outside Review Option</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <%= ("CS06" in results && results.CS06)  ? "✅" : "" %><a href="/studentView/forms/CS06/false" class="CS06">CS06-Ph.D. Program of Study</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <%= ("CS08" in results && results.CS08)  ? "✅" : "" %><a href="/studentView/forms/CS08/false" class="CS08">CS08-Technical Writing Requirement</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <%= ("CS13" in results && results.CS13)  ? "✅" : "" %><a href="/studentView/forms/CS13/false" class="CS13">CS13-Program Product Requirement</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <a href="/studentView/multiforms/SemesterProgressReport" class="SemesterProgressReport">Semesterly Progress Report</a>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
