<!DOCTYPE html>
<!-- views/student/forms.ejs -->


<html>
  <head>
    <title>Student forms</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg-2 sidebar text-center">

          <%- include("../partials/admin-sidebar.ejs") %>
          <%- include("./search-student.ejs") %>

        </div>
        <div align ="center" class="col-lg-10 panelbg text-center">

          <%- include("./studentBarPartial.ejs") %>
          <h4><%=student.lastName%>, <%=student.firstName%></h4>

          <h3 class="space">View a form</h3>
          <div class="col-md-4 offset-md-4">
            <a href="/student/forms/viewForm/<%=student._id%>/CS01/false" class="CS01">CS01-Background Preparation Worksheet</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <a href="/student/multiforms/<%=student._id%>/CS02" class="CS02">CS02-Course Waiver</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <a href="/student/forms/viewForm/<%=student._id%>/CS03/false" class="CS03">CS03-M.S. Program of Study</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <a href="/student/forms/viewForm/<%=student._id%>/CS04/false" class="CS04">CS04-Outside Review Option</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <a href="/student/forms/viewForm/<%=student._id%>/CS06/false" class="CS06">CS06-Ph.D. Program of Study</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <a href="/student/forms/viewForm/<%=student._id%>/CS08/false" class="CS08">CS08-Technical Writing Requirement</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <a href="/student/forms/viewForm/<%=student._id%>/CS13/false" class="CS13">CS13-Program Product Requirement</a>
          </div>

          <div class="col-md-4 offset-md-4">
            <a href="/student/multiforms/<%=student._id%>/SemesterProgressReport" class="SemesterProgressReport">Semesterly Progress Report Form</a>
          </div>

        </div>
      </div>
    </div>
  </body>

</html>
